<template name="layout">
	{{> header}}
	<div class="jumbotron">
	    <div class="container">
	      <h1>Start Contributing!</h1>
	      <p>You have always been asked to contribute to open source to improve your skills, but the open source projects you know often have so much going on that it is difficult for you to jump into the action. But here you can find projects that really can use some help! Bla bla bla</p>
	      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	    </div>
	</div>

	<div class="container">
		{{> yield}}
		<hr>
		<footer>
			<p>&copy; Ketan Bhatt 2015</p>
	    	</footer>
	</div>
</template>