<template name="loginButton">
	<div class="navbar-right">
		{{#if currentUser }}
			<div class="btn-group">
			  <button type="button" class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			  <img src="{{currentUser.profile.picture}}" alt="" height="20" width="20">
			    {{currentUser.profile.name}} <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="#" id="logout">Logout</a></li>
			  </ul>
			</div>
		{{else}}
			<button id="github-login" class="btn btn-default navbar-btn"> Login with Github</button>
		{{/if}}
	</div>
</template>